#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  width: 300px;
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
