#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  padding-left: 0;
}

.card {
  width: 300px;
  padding: 1em;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #36c;
}

.header {
  padding: 24px;
}
