#app {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: rgb(149, 149, 149);
}
