:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c9e61;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  height: 100vh;
}

main {
  overflow-y: auto;
  min-height: 632px;
  min-width: 1520px;
}

ul {
  list-style: none;
  padding-left: 24px;
}

li {
  color: #fff;
  font-size: x-large;
}

aside {
  border-radius: 50% 20% / 10% 40%;
  border: 1px solid #ededed;
  background: #36c;
  flex: 1 0 10%;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-left: 0;
  max-width: 224px;
  height: 632px;
}

.wrapper {
  display: flex;
}

.wrapper_inner {
  width: 90%;
  min-width: 800px;
  margin: 0px auto;
  text-align: center;
}

.footer {
  margin: 0;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
